
/*@Author Johnny Hoang [2036759]*/
main {
    display:flex;
    flex-direction: row;
}

p,h2 {
    font-family:monospace;
}

footer, header {
    text-align: center;
    background-color:bisque;
    padding: 30px;
    font-family:fantasy;
}

footer {
    font-size: 1.2em;
    background-color:#cf9db1;
}

#formHere{
    min-width: 200px;
    background-color:#69c28e ;
    flex-basis:30%
}

#tableHere {
    background-color: #69c28e;
    flex-basis:70%
}

button {
    width:100%;
}

td {
    width:60px;
}
#dynamictable, td {
    border:1px solid black;
    background-color:yellow;
    text-align: center;
}

#dynamictable {
    width:100%;
    height:100%; 
}

